<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database List</title>
</head>

<body>

    <form id="Home" action="/home" method="post" enctype="multipart/form-data">
        <br>
        <input type="submit" value="Home"><br>
    </form>

    <h1>List of Databases</h1>

    <ul>
        {% for database in all_databases %}
        <li>{{ database }}</li>
        {% endfor %}
    </ul>
</body>

</html>